<a href="https://colab.research.google.com/github/RosalesLuis123/IA/blob/main/LabExam/LabExamenRedesNeuronal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **IMPORTAMOS LIBRERIAS**

In [1]:
# used for manipulating directory paths
import os

# Scientific and vector computation for python
import numpy as np

# Plotting library
from matplotlib import pyplot
import pandas as pd
# Optimization module in scipy
from scipy import optimize

# will be used to load MATLAB mat datafile format
# from scipy.io import loadmat

# library written for this exercise providing additional functions for assignment submission, and others
# import utils


# tells matplotlib to embed plots within the notebook
%matplotlib inline

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

# **LEEMOS EL DATA SET**

In [3]:
data = pd.read_csv('/content/gdrive/MyDrive/ExamenLab/adult.csv', delimiter=',')
data

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

# **CONVERTIMOS LOS VALORES LITERIAROS A NUMERICOS:** usamos pandas para hacerlo a lo cual, se usa unique() para buscar una palabra unica y diferente a otra, despues se crea un diccionario y finalmente con map se da el valor numerico.

In [4]:
import pandas as pd

def convertir_sexo_a_int(data):
    # Mapear las categorías únicas a valores numéricos
    sexo_map = {'Male': 0, 'Female': 1}

    # Aplicar el mapeo a la columna 'sex'
    data['sex'] = data['sex'].map(sexo_map)

    # Convertir la columna a tipo int64
    data['sex'] = data['sex'].astype('int64')

    return data

# Llamar a la función para convertir la columna 'sex' a int64
data = convertir_sexo_a_int(data)

# Verificar el resultado
import pandas as pd

def convertir_raza_a_int(data):
    # Obtener las categorías únicas en la columna 'race'
    razas_unicas = data['race'].unique()

    # Crear un diccionario para mapear las categorías únicas a valores numéricos
    raza_map = {raza: idx for idx, raza in enumerate(razas_unicas)}

    # Aplicar el mapeo a la columna 'race'
    data['race'] = data['race'].map(raza_map)

    # Convertir la columna a tipo int64
    data['race'] = data['race'].astype('int64')

    return data

# Llamar a la función para convertir la columna 'race' a int64
data = convertir_raza_a_int(data)

import pandas as pd

# Definir la función para convertir una columna categórica en valores int64
def convertir_columna_a_int(data, columna):
    # Obtener las categorías únicas en la columna
    categorias_unicas = data[columna].unique()

    # Crear un diccionario para mapear las categorías únicas a valores numéricos
    columna_map = {categoria: idx for idx, categoria in enumerate(categorias_unicas)}

    # Aplicar el mapeo a la columna
    data[columna] = data[columna].map(columna_map)

    # Convertir la columna a tipo int64
    data[columna] = data[columna].astype('int64')

    return data
# Aplicar la función a las columnas especificadas
columnas_a_convertir = ['workclass', 'education', 'marital.status', 'occupation', 'relationship', 'native.country', 'income']
for columna in columnas_a_convertir:
    data = convertir_columna_a_int(data, columna)

# Verificar el resultado
print(data.head())

   age  workclass  fnlwgt  education  education.num  marital.status  \
0   90          0   77053          0              9               0
1   82          1  132870          0              9               0
2   66          0  186061          1             10               0
3   54          1  140359          2              4               1
4   41          1  264663          1             10               2

   occupation  relationship  race  sex  capital.gain  capital.loss  \
0           0             0     0    1             0          4356
1           1             0     0    1             0          4356
2           0             1     1    1             0          4356
3           2             1     0    1             0          3900
4           3             2     0    1             0          3900

   hours.per.week  native.country  income
0              40               0       0
1              18               0       0
2              40               0       0
3              40               0       0
4              40               0       0

Informacion del dataset

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  int64
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  int64
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  int64
 6   occupation      32561 non-null  int64
 7   relationship    32561 non-null  int64
 8   race            32561 non-null  int64
 9   sex             32561 non-null  int64
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  int64
 14  income          32561 non-null  int64
dtypes: int64(15)
memory usage: 3.7 MB

Verificamos la cantidad de clases en la columna income la cual sera Y

In [6]:
import pandas as pd

# Suponiendo que 'data' es tu DataFrame de pandas
# Seleccionamos la columna 'income'
columna_income = data['income']

# Usamos el método nunique() para obtener el número de clases únicas en la columna 'income'
num_clases_income = columna_income.nunique()

# Obtenemos los valores únicos de la columna 'income'
valores_clases_income = columna_income.unique()

print("Cantidad de clases en la columna 'income':", num_clases_income)
print("Valores de las clases en la columna 'income':", valores_clases_income)

Cantidad de clases en la columna 'income': 2
Valores de las clases en la columna 'income': [0 1]

# **Preparamos los valores para el entrenmaiento:** se ajustan las clases y se normaliza

In [29]:
# Suponiendo que 'data' es tu DataFrame de pandas

# Seleccionar todas las filas y todas las columnas excepto la última
X = data.iloc[:, :-1].values

# Seleccionar la última columna
y = data.iloc[:, -1].values

# Normalizar las características
X_mean = np.mean(X, axis=0)
X_std = np.std(X, axis=0)
X_normalized = (X - X_mean) / X_std

# Imprimir las primeras 5 filas de las características normalizadas
print("Características normalizadas:")
print(X_normalized[:5])

y = np.array([int(e) for e in y])
print(y.shape)
y = np.squeeze(y)

y[y == 0] = 0
y[y == 1] = 1

Xp = X_normalized[150:, :]
X_normalized = X_normalized[:150, :]

yp = y[150:]
y = y[:150]

print(X_normalized.shape)
print(y.shape)
print(Xp.shape)
print(yp.shape)

print(y)

Características normalizadas:
[[ 3.76961234 -1.08875036 -1.06799736 -0.89667427 -0.42005962 -2.65031044
  -1.55828744 -1.35114616 -0.35178608  1.42233076 -0.14592048 10.59350656
  -0.03542945 -0.24245695]
 [ 3.18311167 -0.46272083 -0.53916866 -0.89667427 -0.42005962 -2.65031044
  -1.24554846 -1.35114616 -0.35178608  1.42233076 -0.14592048 10.59350656
  -1.81720429 -0.24245695]
 [ 2.01011032 -1.08875036 -0.03521956 -0.6368301  -0.03136003 -2.65031044
  -1.55828744 -0.78080158  1.226187    1.42233076 -0.14592048 10.59350656
  -0.03542945 -0.24245695]
 [ 1.13035932 -0.46272083 -0.4682154  -0.37698593 -2.36355761 -1.79312032
  -0.93280948 -0.78080158 -0.35178608  1.42233076 -0.14592048  9.46186383
  -0.03542945 -0.24245695]
 [ 0.17729573 -0.46272083  0.70948176 -0.6368301  -0.03136003 -0.9359302
  -0.6200705  -0.21045699 -0.35178608  1.42233076 -0.14592048  9.46186383
  -0.03542945 -0.24245695]]
(32561,)
(150, 14)
(150,)
(32411, 14)
(32411,)
[0 0 0 0 0 0 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 0 1 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 0 1 1 0 1 0 0 0 1 1 1 1 1 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0
 0 0]

Preparar valores iniciales de la red neuronal

In [30]:
# Configurando parámetros necesarios
input_layer_size = 14   # Entrada de 14 características
hidden_layer_size = 10  # 10 unidades ocultas
num_labels = 2         # 3 etiquetas, de 0 a 2

# Inicializando los pesos Theta1 y Theta2
Theta1 = np.random.rand(hidden_layer_size, input_layer_size + 1)  # Theta1 tiene un tamaño de (10, 15)
Theta2 = np.random.rand(num_labels, hidden_layer_size + 1)        # Theta2 tiene un tamaño de (2, 11)

# Desenrollar parámetros
nn_params = np.concatenate([Theta1.ravel(), Theta2.ravel()])

print("Dimensiones de Theta1:", Theta1.shape)
print("Dimensiones de Theta2:", Theta2.shape)
print("Dimensiones de nn_params:", nn_params.shape)

Dimensiones de Theta1: (10, 15)
Dimensiones de Theta2: (2, 11)
Dimensiones de nn_params: (172,)

funcion sigmoid y gradiente

In [31]:
def sigmoid(z):
    """
    Computes the sigmoid of z.
    """
    return 1.0 / (1.0 + np.exp(-z))


def sigmoidGradient(z):

    g = np.zeros(z.shape)

    g = sigmoid(z) * (1 - sigmoid(z))

    return g

Funcion de costo

In [32]:
def nnCostFunction(nn_params,
                   input_layer_size,
                   hidden_layer_size,
                   num_labels,
                   X_normalized,  # Cambia X a X_normalized
                   y,
                   lambda_=0.0):

    # Reshape nn_params back into the parameters Theta1 and Theta2, the weight matrices
    # for our 2 layer neural network
    Theta1 = np.reshape(nn_params[:hidden_layer_size * (input_layer_size + 1)],
                        (hidden_layer_size, (input_layer_size + 1)))

    Theta2 = np.reshape(nn_params[(hidden_layer_size * (input_layer_size + 1)):],
                        (num_labels, (hidden_layer_size + 1)))

    m = y.size

    J = 0
    Theta1_grad = np.zeros(Theta1.shape)
    Theta2_grad = np.zeros(Theta2.shape)

    a1 = np.concatenate([np.ones((m, 1)), X_normalized], axis=1)  # Utiliza X_normalized en lugar de X

    a2 = sigmoid(a1.dot(Theta1.T))
    a2 = np.concatenate([np.ones((a2.shape[0], 1)), a2], axis=1)

    a3 = sigmoid(a2.dot(Theta2.T))

    y_matrix = y.reshape(-1)
    y_matrix = np.eye(num_labels)[y_matrix]

    temp1 = Theta1
    temp2 = Theta2

    # Agregar el término de regularización
    reg_term = (lambda_ / (2 * m)) * (np.sum(np.square(temp1[:, 1:])) + np.sum(np.square(temp2[:, 1:])))

    J = (-1 / m) * np.sum((np.log(a3) * y_matrix) + np.log(1 - a3) * (1 - y_matrix)) + reg_term

    # Backpropagation
    delta_3 = a3 - y_matrix
    delta_2 = delta_3.dot(Theta2)[:, 1:] * sigmoidGradient(a1.dot(Theta1.T))

    Delta1 = delta_2.T.dot(a1)
    Delta2 = delta_3.T.dot(a2)

    # Agregar regularización al gradiente
    Theta1_grad = (1 / m) * Delta1
    Theta1_grad[:, 1:] = Theta1_grad[:, 1:] + (lambda_ / m) * Theta1[:, 1:]

    Theta2_grad = (1 / m) * Delta2
    Theta2_grad[:, 1:] = Theta2_grad[:, 1:] + (lambda_ / m) * Theta2[:, 1:]

    grad = np.concatenate([Theta1_grad.ravel(), Theta2_grad.ravel()])

    return J, grad

In [48]:
lambda_ = 0
J, _ = nnCostFunction(nn_params, input_layer_size, hidden_layer_size, num_labels, X_normalized, y, lambda_)  # Usando X_normalized en lugar de X
print('Costo en parametros (cargado de ex4weights): %.6f ' % J)
print('El costo debe esta cercano a               : 0.287629')

Costo en parametros (cargado de ex4weights): 0.469950
El costo debe esta cercano a               : 0.287629

In [49]:

z = np.array([-1, -0.5, 0, 0.5, 1] * 14)  # Replicar el arreglo 14 veces para simular 14 columnas
g = sigmoidGradient(z)
print('Gradiente sigmoide evaluado con [-1 -0.5 0 0.5 1] (repetido 14 veces):\n', g)

Gradiente sigmoide evaluado con [-1 -0.5 0 0.5 1] (repetido 14 veces):
 [0.19661193 0.23500371 0.25       0.23500371 0.19661193 0.19661193
 0.23500371 0.25       0.23500371 0.19661193 0.19661193 0.23500371
 0.25       0.23500371 0.19661193 0.19661193 0.23500371 0.25
 0.23500371 0.19661193 0.19661193 0.23500371 0.25       0.23500371
 0.19661193 0.19661193 0.23500371 0.25       0.23500371 0.19661193
 0.19661193 0.23500371 0.25       0.23500371 0.19661193 0.19661193
 0.23500371 0.25       0.23500371 0.19661193 0.19661193 0.23500371
 0.25       0.23500371 0.19661193 0.19661193 0.23500371 0.25
 0.23500371 0.19661193 0.19661193 0.23500371 0.25       0.23500371
 0.19661193 0.19661193 0.23500371 0.25       0.23500371 0.19661193
 0.19661193 0.23500371 0.25       0.23500371 0.19661193 0.19661193
 0.23500371 0.25       0.23500371 0.19661193]

# La función randInitializeWeights se utiliza para inicializar aleatoriamente los pesos de una capa en una red neuronal.

In [50]:
def randInitializeWeights(L_in, L_out, epsilon_init=0.12):
    """
    Randomly initialize the weights of a layer in a neural network.

    Parameters
    ----------
    L_in : int
        Number of incomming connections.

    L_out : int
        Number of outgoing connections.

    epsilon_init : float, optional
        Range of values which the weight can take from a uniform
        distribution.

    Returns
    -------
    W : array_like
        The weight initialiatized to random values.  Note that W should
        be set to a matrix of size(L_out, 1 + L_in) as
        the first column of W handles the "bias" terms."""


    W = np.zeros((L_out, 1 + L_in))
    W = np.random.rand(L_out, 1 + L_in) * 2 * epsilon_init - epsilon_init

    return W

In [51]:
print('Inicialización de parámetros de redes neuronales...')

initial_Theta1 = randInitializeWeights(input_layer_size, hidden_layer_size)
initial_Theta2 = randInitializeWeights(hidden_layer_size, num_labels)

# Desenrrollr parametros
initial_nn_params = np.concatenate([initial_Theta1.ravel(), initial_Theta2.ravel()], axis=0)

Inicialización de parámetros de redes neuronales...

realiza la optimización de la función de costo de una red neuronal utilizando el método de optimización L-BFGS-B, utilizando los datos normalizados (X_normalized) y el valor de lambda especificado.

In [52]:
options = {'maxfun': 2000}  # Cambia maxiter a maxfun

#  You should also try different values of lambda
lambda_ = 1

# Create "short hand" for the cost function to be minimized
costFunction = lambda p: nnCostFunction(p, input_layer_size,
                                        hidden_layer_size,
                                        num_labels, X_normalized, y, lambda_)  # Usa X_normalized

# Now, costFunction is a function that takes in only one argument
# (the neural network parameters)
# Establecer el número máximo de iteraciones como un argumento independiente
res = optimize.minimize(costFunction,
                        initial_nn_params,
                        jac=True,
                        method='L-BFGS-B',  # Cambia el método a 'L-BFGS-B'
                        options=options)  # Usa options

# Obtener la solución de la optimización
nn_params = res.x

# Obtener Theta1 y Theta2 de nuevo a partir de nn_params
Theta1 = np.reshape(nn_params[:hidden_layer_size * (input_layer_size + 1)],
                    (hidden_layer_size, (input_layer_size + 1)))

Theta2 = np.reshape(nn_params[(hidden_layer_size * (input_layer_size + 1)):],
                    (num_labels, (hidden_layer_size + 1)))

# **PREDICCIONES**

In [53]:
def predict(Theta1, Theta2, X):
    """
    Predict the label of an input given a trained neural network
    Outputs the predicted label of X given the trained weights of a neural
    network(Theta1, Theta2)
    """
    # Useful values
    m = X.shape[0]
    num_labels = Theta2.shape[0]

    # You need to return the following variables correctly
    p = np.zeros(m)
    h1 = sigmoid(np.dot(np.concatenate([np.ones((m, 1)), X], axis=1), Theta1.T))
    h2 = sigmoid(np.dot(np.concatenate([np.ones((m, 1)), h1], axis=1), Theta2.T))
    p = np.argmax(h2, axis=1)
    return p

In [54]:
pred = predict(Theta1, Theta2, X_normalized)  # Usa X_normalized en lugar de X[:,:]
print(pred)
print('Precisión del conjunto de entrenamiento: %f' % (np.mean(pred == y[:]) * 100))

[0 0 0 0 0 0 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 0 1 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 0 1 1 1 1 1 1 0 1 1 0 0 1 1 1 0 1 0 0 1 1
 1 1]
Precisión del conjunto de entrenamiento: 92.000000

In [55]:
pred = predict(Theta1, Theta2, Xp[:,:])
print(pred)
print('Precisión del conjunto de entrenamiento: %f' % (np.mean(pred == yp[:]) * 100))

[1 0 1 ... 1 1 1]
Precisión del conjunto de entrenamiento: 25.596248